<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
    <style>
        * {margin:0; padding:0}
        li {list-style: none;}
        body {padding:30px;}
        .list {margin:20px 0; display:flex;}
        .list > li {margin:5px; width:200px; border:1px solid gray; padding:10px;}
        .list > li > * {display:block}
        .list > li > img {width:200px; margin-bottom:20px;}
        .list > li > strong {font-size:20px; color:#666; margin-bottom:10px}
        .list > li > span{margin-bottom:10px;}

        
    </style>
</head>
<body>
    <div id="app">
        <h1>Sales Product({{ inCartSum }}개) - {{ totalPrice }}원</h1>
        <br>

        <product-list :chips-data="chips" @sale_product="sale_product"></product-list> <!--태그에서는 camel Case를 사용하지 않는다. - 자동으로 변환 오류남.-->
        <p><strong>구입목록</strong></p><br>
        <sale-list :chips-data="chips" :sale-data="sales" @delete_product="delete_product"></sale-list>
    </div>
    <script>
        // 지역 컴포넌트에 사용할 객체
        const saleList = {
            template: `
                <div class='sale'>
                    <div v-for="(item, index) in saleData">
                        <strong>{{ item.title }}</strong> {{ item.price }}원
                        <button v-on:click="del(index)">삭제</button>
                        <br><br><hr><br>
                    </div>
                </div>
            `,
            data() {
                return {

                }
            },
            props: ['chipsData', 'saleData'],
            methods: {
                del(index) {

                    this.$emit('delete_product', index);
                },
            }
        }

        const productList = {
            template: `
                <ul class='list'>
                    <li v-for="(item, index) in chipsData" :key="item.title">
                        <img :src="item.img" />
                        <strong>{{ item.title }}</strong>
                        <span>{{ item.desc }}</span>
                        <b>{{ item.price }}원</b>
                        <button v-on:click="sale(index)">구입하기</button>
                    </li>
                </ul>
            `,
            data() {
                return {
                }
            },
            props: ['chipsData'], // 재할당 불가능,
            methods: {
                sale(index) {
                    this.$emit('sale_product', index);
                },
            }
        }   
        const app = Vue.createApp({ // 루트 인스턴스
            data() {
                return {
                    chips:[
                        {
                            img:`images/mango.jpg`,
                            title:`자연그대로 망고칩`,
                            desc:`단맛이 그대로 살아있는 망고칩입니다.`,
                            price: 2500
                        },
                        {
                            img:`images/apple.jpg`,
                            title:`천연 오가닉 사과칩`,
                            desc:`깨끗한 재료를 엄선하여 자연을 그대로 담았습니다.`,
                            price: 2000
                        },
                        {
                            img:`images/jujube.jpg`,
                            title:`아이깨끗 대추칩`,
                            desc:`새콤함이 살아있는 반건조 대추그대로.`,
                            price: 3000
                        }
                    ],
                    sales:[],
                    totalPrice: 0,
                    inCartSum: 0,
                }
            },
            // 지역 컴포넌트
            components: {
                productList, saleList}, // 키값과 변수명이 같다면 하나만 써도 된다. -> camelcase인 productList를 product-list로 자동 변환해줌. 
            methods: {
                sale_product(index) {
                    this.sales.push(this.chips[index]);
                    this.totalPrice += this.chips[index].price;
                    this.inCartSum++;
                },
                delete_product(index) {
                    this.totalPrice -= this.sales[index].price;
                    this.sales.splice(index,1)
                    this.inCartSum--;
                }
            }
        })
        // 전역 컴포넌트(용 인스턴스)
        // app.component('product-list', { 
        //     template: `
        //         <li>
        //             <img src="images/mango.jpg" />
        //             <strong>천연 오가닉 사과칩</strong>
        //             <span>깨끗한 재료를 엄선하여 자연을 그대로 담았습니다.</span>
        //             <b>2,000원</b>
        //         </li>
        //     `,
        // }); // 매개변수 (이름, 옵션)

        app.mount('#app')


    </script>
</body>
</html>